
<img width="140" height="140" src="../../assets/nistaxi-logo.png" class="logo-img">
<br><br>
<div *ngIf="showCard">
    <br>
    <div class="centerit">
        <img src="{{imgSource}}" class="card" style="width: 60%; margin-left: 20%;">
    </div>
    <br>
    <br>
</div>
<div *ngIf="!showCard">
    <br><br><br><br><br><br><br><br><br>
</div>
<br><br><br>
<div *ngIf="showShare">
    <br>
    <br>
    <br>
</div>

<br><br>
<img src={{pathhome}} class="shareicon" (click)="showHome()">
<img src={{pathqr}} class="shareicon" (click)="showQR()">
<img src={{pathshare}} class="shareicon" (click)="showSh()">


