
<img width="140" height="140" src="../../assets/nistaxi-logo.png">
<br><br>
<div *ngIf="showCard">
    <br>
    <div class="centerit">
    <img src="{{imgSource}}" class="card" style="width: 60%; margin-left: 20%;">
</div>
    <br>
    <br>
</div>
<button *ngIf="showCard" class="myhomebutton" (click)="showQR()">Hide my card</button>
<button *ngIf="!showCard" class="myhomebutton" (click)="showQR()">Show my card</button>
<br><br><br>
<div *ngIf="showShare">
    <br>
    <br>
    <br>
</div>
<button class="myhomebutton" (click)="toShare()">Share with friends</button>
<br>
<br>


