
<img width="140" height="140" src="../../assets/nistaxi-logo.png" class="logo-img">
<br>
<h1 >Register</h1>
<br>
<div class="field-header">Phone number:</div>
<input type="phone" placeholder=" +381 XX XXXXXXX" [(ngModel)]="phone" class="input-field">
<div class="field-header">Licence number:</div>
<input type="text" placeholder=" XXXXX" [(ngModel)]="licence" class="input-field">
<div class="field-header">Email (optional):</div>
<input type="text" placeholder=" email@domain.com" [(ngModel)]="email" class="input-field">
<br><br><br>

<button type="submit" (click)="login()" class="mybutton">Register</button>
<br>
<br>
<div *ngIf="msg.length>0" class="error">
    {{msg}}
</div>
<div *ngIf="msg2.length>0" class="error">
    {{msg2}}
</div>
<div *ngIf="msg3.length>0" class="error">
    {{msg3}}
</div>
<div *ngIf="msg4.length>0" class="error">
    {{msg4}}
</div>
<br>
<div class="info">
   * Enter your email if you wish to receive email when the transaction is completed
</div>