
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<img width="140" height="140" src="../../assets/nistaxi-logo.png" class="logo-img">
<br>

<br><br>
Share with SMS:
<br><br>
<input type="phone" placeholder="+381 XX XXXXXXX" [(ngModel)]="phone" class="input-field">
<br><br>
<img src={{pathsms}} class="shareicon" (click)="sendSMS()">
<br><br>
<div *ngIf="msg.length>0" [class.error]="!msg.startsWith('Success')" [class.succ]="msg.startsWith('Success')">
    {{msg}}
</div>
<br>
Share with link:
<Br><Br>
<input type="text" placeholder="Email" [(ngModel)]="email" class="input-field">
<br><br>
<img src={{pathmail}} class="shareicon" (click)="sendEmail()">
<img src={{pathwa}} class="shareicon" (click)="sendWA()">
<img src={{pathviber}} class="shareicon" (click)="sendViber()">
<br>
<div *ngIf="msg2.length>0" [class.error]="!msg2.startsWith('Success')" [class.succ]="msg2.startsWith('Success')">
    {{msg2}}
</div>
<br><br>

<button (click)="back()" class="myhomebutton">Back to home</button>