
:root{
    --bg-yellow: rgb(255, 251, 216);
    --yellow0: rgb(255, 241, 159);
    --yellow1: rgb(255, 232, 101);
    --yellow2: rgb(196, 172, 40);

    --yellow4: rgb(112, 97, 9);
    --bg_blue: rgba(0, 54, 71, 0.5);
    --shadow_blue: rgb(24, 61, 95);

    --error: rgb(255, 157, 101);
}
body{
    /* background-color: var(--bg-yellow); */
    /* background-image: image-set("assets/taxi6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    font-size: larger;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("assets/taxi5.jpg");
    background-size: cover;
    filter: brightness(100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.center-content{
    border-radius: 15px;
    margin-top: 5%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_blue);
    color: var(--yellow1);
    /* background-image: image-set("assets/taxi1.jpg"); */
}

.input-field{
    border-radius: 3px;
    background-color: var(--yellow1);
    color: var(--yellow4);
    padding: 2px;   
    padding-left: 10px;
    padding-right: 10px;
    border: 0

}
.input-field::placeholder{
    color: var(--yellow2);
}
.input-field:active{
    border: 0;
    background-color: white !important;
}
.input-field:focus{
    border: 0;
    background-color: var(--yellow0);

}


.mybutton{
    border-radius: 3px;
    background-color: var(--yellow2);
    color: var(--yellow4);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;   
    border: 0;
}
.mybutton:active{
    background-color: var(--yellow1);
    border: 0;
    box-shadow: 5px 5px 5px 0 var(--shadow_blue)
}
.myhomebutton{
    border-radius: 3px;
    background-color: var(--yellow1);
    color: var(--yellow4);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;   
    border: 0;
    font-size: x-large;
}
.myhomebutton:active{
    background-color: rgb(255, 242, 170);
    border: 0;
    box-shadow: 5px 5px 5px 0  var(--shadow_blue)
}

.info{
    font-size: medium;
}
.error{
    color: var(--error);
}

.centerit{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.succ{
    color: rgb(195, 255, 126)
}