
<img width="140" height="140" src="../../assets/nistaxi-logo.png" class="logo-img">
<br><br><br>
By successfully recommending app to someone (he registers as new user), user gets 1 discount of 5%.

Discounts can stack.
<br><br><br>
With every payment, for each 200din spent, user gets 1 point.
<br>
When user collects 100 points, the next time he makes a purchase greater than 1000din, 1000din is substracted from the final price.
<br><br><br><br><br>
<img src={{pathhome}} class="shareicon" (click)="showHome()">
<img src={{pathqr}} class="shareicon" (click)="showQR()">
<img src={{pathshare}} class="shareicon" (click)="showSh()">
<img src={{pathq}} class="shareicon" >


